.container{
	font-size: 1.4rem;
}

table, td, tr, th{
	border: 3px solid black;
	text-align: center;
}

td, th{
	padding: 5px;
}

table img{
	height: 125px;
	width: 200px;
}

/*---------------------------
		Formulaire
-----------------------------*/
span.help-block{
	margin-top: 0;
	margin-bottom: 5px;
}