/* Here comes to good stuff : content styling */
#content {
	font-family: 'Chivo', sans-serif;
	margin:40px auto;
	min-height:200px;
	z-index:100;
	padding:30px 10px;
	border:1px solid #383838;
	
	/*border-radius*/
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	/*box-shadow*/
	-webkit-box-shadow:0px 1px 6px #3F3F3F;
	-moz-box-shadow:0px 1px 6px #3F3F3F;
	box-shadow:0px 1px 6px #3F3F3F;
}

#content h1 {
	text-align:center;
	font-size:40px;
	padding:0;
	margin:0 0 20px 0;
}

/** we remove the red glow around required fields since we are already using the red star */
#content input:required, textarea:required {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
}
#content label {
	color:#191919;
}

#content .list-group div{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

#content label.list-group-item{
	display: inline-block;
	min-height:135px;
}

#content label.list-group-item p{
	display: inline-block;
	padding: 0;
	margin: 0;
}

#content label.list-group-item.item-middle{
	padding: 3% 0;
}

#content label.active {
	color: white;
}

#content .indication {
	color:#878787;
	font-size:12px;
	font-style:italic;
	text-align:center;
	padding-right:10px;
}

#content ul#steps{
	position: relative;
	list-style: none;
	padding: 5px;
	margin:0;
	margin-bottom: 20px;
	border-radius: 15px;
}

#content ul#steps::before{
	position: absolute;
	top: 30px;
	left: 0;
	border: 1px solid black;
	width: 100%;
}

#content ul#steps li{
	color:#5a5a5a;
	text-align: center;
	position: relative;
}

#content ul#steps li.current{
	color:#000;
}

#content ul#steps li span{
	width: 120px;
	display: inline-block;
	z-index: 1;
	text-align: center;
	padding: 10px;
	background-color: white;
}

/*Bouton Suivant et précédent*/
#content button.next{
	float: right;
}

#content a.prev{
	text-align: right;
}

#content .inline-block{
	display: inline-block;
	float: right;
}

#content .required {
	color:#E5224C;
}

#content ul.cp_list, #content ul.city_list{
	width: 75%;
	max-height: 100px;
	margin:0;
	position: absolute;
	padding-left: 10px;
	z-index: 3;
	top: 34px;
	left: 56px;
	overflow-y: scroll;
	background-color: white;
	list-style: none;
}

#content ul.cp_list li, #content ul.city_list li{
	font-size: 1.3rem;
}

#content ul.cp_list li a, #content ul.city_list li a{
	
}

#content ul.cp_list li a span, #content ul.city_list li a span{
	text-transform: capitalize;
}

#content input[name='city'] {
	text-transform: capitalize;
}

#content img{
  width: 50px;
}


/** Styling the send button **/
#content input#save_preco {
	float: right;
}

#content table{
	border: solid black 1px;
	margin-bottom: 25px;
}

#content td, th{
	border: solid black 1px;
	padding: 10px;
	text-align: center;
}

#content a.glyphicon{
	color: rgb(0, 195,141);
	font-size: 14px;
	font-size: 1.4rem;
}

#content a.glyphicon:hover{
	text-decoration: none;
}

#content a.glyphicon + span{
	padding: 0 10px;
}