
                /* PAGE CSS */
html{
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: rgb(225, 245, 243);
    font-family: 'Chivo', sans-serif;
}


.r-m {
    margin: 0 !important;
}

.r-p {
    padding: 0 !important;
}


a:hover{
    cursor: pointer;
}



/* barre de navigation */

.navbar {
    margin-bottom: 0px;
    border-radius: inherit;
    color: white;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

#barre_navigation ul.navbar-left {
    width: 40%;
    padding: 40px 0 15px;
}

#barre_navigation ul.navbar-left li{
    width: calc(100% / 3);
}

#barre_navigation .navbar-nav>li>a {
    font-family: 'Chivo', sans-serif;
    font-size: 18px;
    color: rgb(0, 195, 141);
    text-align: center;

}

.navbar-right {
    margin-right: 18px;
    padding-top: 40px;
    padding-bottom: 25px;
}

.navbar-right a.btn-success {
  color: black;
  background-color: white;
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  border-width: 3px;
  border-color: purple;
  box-shadow:-05px 05px 0px purple;
  border-radius: 0;
}

.form-group a.btn-success:hover, .form-group a.btn-success:visited{
  background-color: white;
  border-color: purple;
}

nav {
    position: relative;
}

nav .logo{
    width: 180px;
    width: 18rem;
    height: 180px;
    height: 18rem;
    padding:0;
    background-color: white;
    box-sizing: content-box;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 2px rgb(0, 255, 141) solid;
}

.logo img {
    z-index: 1;
    width: 100%;
    height: 156px;
    padding-top: 22px;
}

/*Navbar admin*/
#nav_admin{
    text-align: right;
    font-size: 1.6rem;
    background-color: white;
    margin: 20px 0;
}

#nav_admin li{
    border: 3px solid white;
}

#nav_admin li:hover{
    border: 3px solid rgb(0,255,141);
}

#nav_admin li a{
    background-color: white;
    color: rgb(0,195,141);
    margin:0;
    border-radius: 0;
    border: 0;
}


/*Padding / logo */
#apropos, #tutos, #form_precommande{
    padding-top: 120px;
    position: relative;
}


.container{
  padding-top: 100px;
}






/* page accueil */

.slider {
    padding: 0;
}

.carousel-inner {
    width: 100%;
    position: relative;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: 86vh;
    object-fit: cover;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: 86vh;
    object-fit: cover;
}

.info-carrousel_a {
    font-size: 35px;
    position: absolute;
    color: white;
    top: 0;
    padding: 40px;
}
.info-carrousel_b {
    font-size: 35px;
    position: absolute;
    color: white;
    top: 32px;
    left: 70%;
    padding: 40px;
}

.info-carrousel_c {
    font-size: 35px;
    position: absolute;
    color: white;
    top: 32px;
    left: 70%;
    padding: 40px;
}






/* page apropos */
#apropos {
    text-align: center;
    color: blue;
}

.desc1, .desc1_slider {
    margin: 20px;
}

.desc1 > div, .desc1_slider > div{
    text-align: center;
    position: relative;
}

.desc1 > div:before, .desc1_slider > div:before{
    content: "";
    display: block;
    padding-top: 100%;
}

#apropos .img1 img, #apropos .carousel-inner{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

#apropos_paragraphe div{
    padding:10px;
    height: 95%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 15px 15px 0 rgb(107, 255, 189);
}

#apropos_paragraphe div p{
    margin-top: 15%;
}

.desc2 {
    margin: 20px;
}

.desc2 .paragraphe{
    background-color: rgb(107, 255, 189);
}

#apropos_paragraphe2{
    padding : 5% 5%;
    margin : 7% 0;
    text-align: left;
}


#apropos_image img{
    width: 100%;
    margin-top: 20px;
    box-shadow: -20px -20px 0 rgb(107, 255, 189);
}

#apropos .map{
    margin : 20px;
}

#apropos iframe {
    width: 100%;
    height: 250px;
    box-sizing: content-box;
    border: 0;
    margin: 0;
    display: block;
}





/* page tutos */
#tutos .row{
    margin:20px 0;
}

#tutos figure{
    position: relative;
}

#tutos figure:before{
    content: "";
    display: block;
    padding-top: 100%;
}

#tutos figcaption{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#tutos figcaption p {
    margin: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 18px;
    color: purple;
    text-align: center;
    font-weight: bold;
}

@keyframes poster{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#40000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}

#tutos figcaption:hover{
    animation-name: poster;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.poster_row {
    padding-left: 5px;
    margin-left: 5px;
}

.poster_row:nth-child(1){
    padding-top: 5px;
}

.tutos2{
    position: relative;
    width: 100%;
}

.tutos2:before{
    content: "";
    display: block;
    padding-top: 56.25%;
}


.tutos2 iframe {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Blocs aléatoires*/

img.aleatoire{
    width: initial;
    height: initial
}

/* footer - Modal */

.close {
    float: left;
    margin-left: 220px;
}

/* footer */

footer {
    width: 100%;
    text-align: center;
    color: white;
}

footer ul.lien {
    background-color: white;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}

footer .lien ul li{
    /*padding: 20px 0;*/
    display: inline-block;
}

footer .lien a {
    color: rgb(0, 195, 141);
    font-size: 15px;
}

footer p{
    margin-top: 20px;
    color: black;
    font-size: 1.2rem;
}

footer div{
    margin-top: 10px;
}

/* footer modal lien admin */

#formRegister{
    color: black;
    font-size: 1.4rem;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #apropos_paragraphe div p{
        margin-top: 0;
    }

    #apropos_paragraphe2{
        margin : 0%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    nav .logo{
        width: 150px;
        width: 15rem;
        height: 150px;
        height: 15rem;
    }

    nav .logo img{
        height: auto;
        padding-top: 10px;
    }

    #barre_navigation .navbar-nav>li>a{
        font-size: 16px;
        font-size: 1.6rem;
    }

    .navbar-right a.btn-success {
        font-size: 14px;
        font-size: 1.4rem;
    }

    #apropos {
        text-align: center;
    }

    #apropos_paragraphe div{
        height: 85%;
    }

    #apropos_paragraphe div>p{
        margin-top: 10%;
    }

    #apropos .carousel .item{
        height: 100%;
    }

    #apropos .carousel .item img{
        object-fit: cover;
    }
    
    .desc2 .paragraphe{
        margin-bottom: 20px;
    }

    #apropos_paragraphe2{
        margin :0;
    }

    #apropos_image div{
        margin-left: 20px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    nav .logo {
        margin-top: 40px;
    }
    #barre_navigation ul.navbar-left{
        width: 50%;
        display: inline-block;
        padding-top: 10px;
    }
    #barre_navigation ul.navbar-left li{
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    #barre_navigation ul.navbar-left li a{
        padding-right: 0;
    }

    .navbar-right{
        width: 50%;
        display: inline-block;
        padding-top: 0px;
        padding-bottom: 60px;
        text-align: center;
        vertical-align: middle;
    }
    
    .desc1_slider > div:before{
        padding-top:70%;
    }

    #apropos_paragraphe div{
        position: initial;
        width: 97%;
        margin-bottom: 20px;
    }

    #apropos_paragraphe:before{
        padding-top:0;
    }

    #apropos_paragraphe div p{
        font-size: 1.5rem;
        margin-top: 0;
        height: auto;
    }

    #tutos .poster:nth-child(2){
        margin: 20px 0;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
