
                /* PAGE CSS */
html{
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: rgb(225, 245, 243);
    font-family: 'Chivo', sans-serif;
}


.r-m {
    margin: 0 !important;
}

.r-p {
    padding: 0 !important;
}






/* barre de navigation */

#barre_navigation .navbar-nav>li>a {
    color: rgb(0, 195, 141);
    margin-right: 25px;
    margin-left: -15px;
    padding: 60px;
    font-size: 25px;
}

.form-group {
    margin: 18px;
    padding: 10px;
}

.form-group a {
  color: black;
  background-color: white;
}

#barre_navigation .btn-primary {
    background-color: white;
    border-width: 03px; 
    border-color: purple;
    box-shadow:-05px 05px 0px purple; 
}

nav {
    position: relative;
}

nav .logo {
    width: 22rem;
    background-color: white;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 2px rgb(0, 255, 141) solid;
}

.navbar {
    margin-bottom: 0px;
    border-radius: inherit;
    color: white;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.logo img {
    z-index: 1;
    width: 100%;
    padding-top: 0;
}


/*Navbar admin*/
#nav_admin{
    text-align: right;
    font-size: 1.6rem;
    background-color: white;
    margin: 20px 0;
}

#nav_admin li{
    border: 3px solid white;
}

#nav_admin li:hover{
    border: 3px solid rgb(0,255,141);
}

#nav_admin li a{
    background-color: white;
    color: rgb(0,195,141);
    margin:0;
    border-radius: 0;
    border: 0;
}


/*Padding / logo */
#apropos, #tutos, #form_precommande{
    padding-top: 120px;
    position: relative;
}


.container{
  padding-top: 100px; 
}






/* page accueil */

.slider {
    padding: 0;
}

.carousel-inner {
    width: 100%;
    position: relative;
}

.info-carrousel_a {
    font-size: 35px;
    position: absolute;
    color: white;
    top: 0;
    padding: 40px;
}
.info-carrousel_b {
    font-size: 35px;
    position: absolute;
    color: white;
    top: 32px;
    left: 70%;
    padding: 40px;
}

.info-carrousel_c {
    font-size: 35px;
    position: absolute;
    color: white;
    top: 32px;
    left: 70%;
    padding: 40px;
}






/* page apropos */
#apropos {
    color: blue;
}


#apropos .cube img {
    width: 75%;
}

#apropos_image img{
    width: 75%;
    box-shadow: -10px -10px 0 rgb(107, 255, 189);
}


#apropos_paragraphe{
    background-color: white;
    box-shadow: 10px 10px 0 rgb(107, 255, 189);
}

#apropos_paragraphe2{
    background-color: rgb(107, 255, 189);
}


.desc1 {
    margin: 20px;
}

.desc2 {
    margin: 10px;
}






/* page tutos */
#tutos figure{
    position: relative;
}

#tutos figcaption {
    font-size: 18px;
    color: purple;
    width: 40%;
    height: 30%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

#tutos img:hover{
    filter: grayscale(100%);
}

.poster img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.poster_row {
    padding-left: 5px;
    margin-left: 5px;
}

.poster_row:nth-child(1){
    padding-top: 5px;
}


/* Blocs aléatoires*/

img.aleatoire{
    width: initial;
    height: initial
}

/* footer */

.close {
    float: left;
    margin-left: 220px;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 10px;
}





/* footer modal lien admin */

input {
    margin-left: 12px;
}




/* footer */

footer {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: white;
    padding: 10px;
}



iframe {
    width: 100%;
    height: 250px;
    box-sizing: content-box;
    border: 0;
    margin: 0;
    display: block;
    padding: 20px;
}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .logo img {
        padding-top: 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
